#newGroup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-header
          h5.modal-title
            i.fa.fa-users
            |  New Group
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ti-close
        .modal-body
          form#createGroupChat
            .form-group
              label.col-form-label(for='group_name') Group name
              input#group_name.form-control(type='text')
            .form-group
              select#userFriend.hidden(name="states[]" multiple="multiple")
                each friend in friendInfo
                  if friend.id == user.id
                    option(selected data-id=friend.id data-objId=friend._id)=friend.name

              .dropdown
                button#dropdownMenuButton.btn.btn-outline-light.w-100(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  | Search member
                #menuSearchUser.dropdown-menu.w-100(aria-labelledby='dropdownMenuButton')
                  input#searchUser.form-control(type='text')
                  #userOption
                    each friend in friendInfo
                      if friend.id != user.id
                        .dropdown-item
                          figure.avatar
                            img.rounded-circle(src='/dist/images/man_avatar2.jpg')                        
                          a.w-100(href='#' data-id=friend.id data-objId=friend._id data-name=friend.name)=friend.name
            .form-group
              .avatar-group#userChosenGroup
                label.pr-2.col-form-label Member
                //- figure.avatar
                //-   span.avatar-title.bg-success.rounded-circle E
                figure.avatar.del-avatar
                  img.rounded-circle(src='/dist/images/women_avatar1.jpg')
                //- figure.avatar
                //-   span.avatar-title.bg-danger.rounded-circle S
                //- figure.avatar
                //-   img.rounded-circle(src='dist/images/man_avatar2.jpg')
                //- figure.avatar
                //-   span.avatar-title.bg-info.rounded-circle C
                //- a(href='#')
                //-   figure.avatar
                //-     span.avatar-title.bg-primary.rounded-circle -
            .form-group
              label.col-form-label(for='description') Description
              textarea#description.form-control
            button.btn.btn-primary(type='submit') Create Group
        //- .modal-footer
